@import "./reset.css";

.main {
  width: 100vw;
  height: auto;
  background-color: pink;
}

.main-option {
  float: left;
  width: 100vw;
  height: 4vh;
  background-color: coral;
  display: flex;
  justify-content: space-between;
}

.main-optionright {
  width: 200px;
  height: auto;
  margin-left: 60px;
  padding: 10px 0px 0px 10px;
  display: flex;
  justify-content: space-between;
}

.main-optionleft {
  height: auto;
  margin-right: 60px;
  width: 200px;
  text-align: center;
  line-height: normal;
  font-size: 28px;
}

.main-home {
  float: left;
  width: 80vw;
  height: 30vh;
  background-color: cornsilk;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-home-logic {
  width: 230px;
  height: 230px;
  background-color: greenyellow;
  margin: 20px 50px 20px 50px;
}

.main-topic {
  float: left;
  width: 20vw;
  height: 30vh;
  background-color: darkkhaki;
  display: flex;
  flex-direction: column;
}

.main-topic-top {
  width: 96%;
  height: 25%;
  margin: 7px;
  background-color: indigo;
  font-size: 30px;
  line-height: normal;
}

.main-topic-bot {
  width: 96%;
  height: 65%;
  margin: 7px;
  background-color: hotpink;
}

.lili {
  font-size: 22px;
  margin: 10px;
}

.main-index {
  float: left;
  width: 20vw;
  height: auto;
  background-color: darkslategrey;
}

.imsi {
  width: 20vw;
  height: 700px;
}

.main-content {
  float: left;
  width: 80vw;
  height: auto;
  background-color: green;
}

.main-content-container {
  float: left;
  width: 40em;
  height: 40em;
  border: 2px solid black;
  margin: 45px;
}

.m-c-c-img {
  float: left;
  width: 85%;
  height: 60%;
  background-color: indigo;
  margin: 20px 20px 10px 45px;
}

.m-c-c-title {
  float: left;
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: 10%;
  background-color: ivory;
  margin: 20px 20px 10px 45px;
}

.m-c-c-ttl {
  height: 100%;
  width: 20%;
  background-color: lightcoral;
  font-size: 26px;
  font-weight: 600;
}

.m-c-c-star {
  height: 100%;
  width: 20%;
  background-color: lightcoral;
  line-height: 10px;
  text-align: center;
}

.m-c-c-discrp {
  float: left;
  width: 85%;
  height: 15%;
  background-color: lawngreen;
  margin: 20px 20px 10px 45px;
}
