@import "./reset.css";

.main {
  width: 100vw;
  height: auto;
  background-color: pink;
}

.main-option {
  float: left;
  width: 100vw;
  height: 4vh;
  background-color: coral;
  display: flex;
  justify-content: space-between;
}

.main-optionright {
  width: 200px;
  height: auto;
  margin-left: 60px;
  padding: 10px 0px 0px 10px;
  display: flex;
  justify-content: space-between;
}

.main-optionleft {
  height: auto;
  margin-right: 60px;
  width: 200px;
  text-align: center;
  line-height: normal;
  font-size: 28px;
}

.main-logo {
  width: 24px;
  height: 24px;
  background-color: green;
}

.main-home {
  float: left;
  width: 80vw;
  height: 30vh;
  background-color: cornsilk;
}

.main-topic {
  float: left;
  width: 20vw;
  height: 30vh;
  background-color: darkkhaki;
}

.main-index {
  float: left;
  width: 20vw;
  height: auto;
  background-color: darkslategrey;
}

.main-content {
  float: left;
  width: 80vw;
  height: auto;
  background-color: green;
}
